div.liquid-vars {
	display: none;
}

li.list-group-item {
	background-color: black;
}

.app-desc {
	width: 100%;
	height: 100%;
	margin: 20px 0;
	perspective: 1000px;
}

.gallery {
	text-align: center;
	display: block;
	padding-top: 20px;
	margin: 0 25px;
	box-sizing: border-box;
}

img.thumbnail {
	width: 70%;
	margin: 20px 0;
	display: inline;
}	

/*
.thumbnail:hover {
	border: #159957 solid 2px;
	box-shadow: 5px 5px 5px #159957;
	transform: rotate(-0.01turn);

}
*/
